.space-small-top {
	margin-top: 10px;
}

.space-med-top {
	margin-top: 15px;
}

.space-hig-top {
	margin-top: 25px;
}
.space-small{
    margin-bottom: 10px;
}
.space-med {
	margin-bottom: 15px;
}
.space-hig {
	margin-bottom: 25px;
}
.pad-rata{
    padding: 15px !important;
}
.txt-title-desc {
	font-size: 20px;
}
.float-left{
    float: left;
}
.txt-merah{
    color:#d50000;
}
/* view margin */
.txt-margin{
    font-weight: 600;
}
/* view hubungi kami */
.box-hubungi{
    min-height: 300px;
}
.info-box-icon a{
    color: #3c8dbc;
}
.info-txt{
    font-size: 13px !important;
}
.info-txt-nomor {
    font-size: 14px !important;
}
.info-txt-nomor a{
    color:#464646 !important;
}
.btn-contact-us{
    background: none !important; border: 2px solid #367fa9 !important;
}
.btn-contact-us:hover{
	background: #367fa9 !important; border: 2px solid #367fa9 !important; color: #fff !important;
}

@media (max-width: 767px) {
    .show-xs {
        display: block !important;
    }
}
