body{
	font-family: "Poppins", Arial, sans-serif !important;
}
.no-background{
	background: none !important;
}
.txt-white{
	color:#fff;
}
.space-small-top{
	margin-top: 10px !important;
}
.space-med-top{
	margin-top: 25px !important;
}
.space-large-top{
	margin-top: 50px !important;
}
.space-small{
	margin-bottom: 10px !important;
}
.space-med{
	margin-bottom: 25px !important;
}
.space-large{
	margin-bottom: 50px !important;
}
/* index */
.ftco-navbar-light {
    background: transparent !important; position: absolute; top: 20px; left: 0; right: 0; z-index: 3; 
}
.bg-banner{
	background-image: url('../images/bg_1.jpg') !important; background-size: cover !important; background-repeat: no-repeat !important; background-position: center center !important; height: 625px !important;
}
.bg-short{
	background-image: url('../images/bg_1.jpg') !important; background-size: cover !important; background-repeat: no-repeat !important; background-position: center center !important; height: 400px;
}
li.nav-item:hover{
	border-bottom: 1.5px solid #3fc3e8;
}
li.nav-item.cta-button:last-child:hover{
	border: none;
}
#myList.list-group.list-searching{
	flex-direction:row !important;
}
.list-group-item.active{
	background: #074175 !important; color:#fff; border:0px !important;
}
.list-group-item.active > i{
	color:#fff;
}
a.list-group-item.list-group-item-action{
	width: 200px !important; border-radius:0px !important; margin-bottom:15px !important;
}
.tab-pad{
	padding: 0px 15px; height:340px;
}
.textfield-search{
	width: 100%;
}
.nav-item.cta.cta-button> a.nav-link:hover{
	background-color: #115da0 !important; border-color: #3fc3e8 !important;
}
.form-search {
	margin-bottom: 10px;
}
.form-cari .input-search{
	width: 100% !important; height: 40px !important; border: none; border-top-right-radius: 4px;
border-bottom-right-radius: 4px; padding: 5px 15px; font-size: 14px !important;
}
.btn-cari{
	background-color: #074175 !important; border-color: #074175 !important; color:#ffffff !important; height: 40px !important; font-size: 17px; font-weight: 400;
}
.btn-cari:hover{
	background-color: #115da0 !important; border-color: #115da0 !important; color:#ffffff !important;
}
.ftco-navbar-light.scrolled .nav-item.cta.cta-button > a{
	background-color: #074175 !important;
}
.ftco-navbar-light.scrolled .nav-item.cta.cta-button > a:hover{
	background-color: #115da0 !important;
}
.pad-greeting1{
	top:170px;
}
.pad-greeting{
	top:125px;
}
.txt-greeting{
	font-size:55px; color:#fff; line-height: 1.2;
}
.short-greeting{
	font-size:18px; color:#fff;
}
span.box-icon{
	min-width:125px; padding: 5px 15px; height: 50px; background: #ffffff; margin-right: 15px; font-size:20px; font-weight: 100;
}
span.box-icon:hover{
	background:#074175;
}
.box-icon a{
	color:#074175;
}
.icon-vividi{
	font-size: 20px !important; color:#074175;
}
.text-icon-tab{
	font-size: 16px;
}
span.box-icon:hover .icon-vividi{
	color:#ffffff !important;
}
span.box-icon:hover a{
	color:#ffffff !important;
}
.services:hover{
	background-color: #074175 !important;
}
.services .icon span{
	color: #074175 !important;
}
.services:hover .icon span{
	color: #ffffff !important;
}
.sidebar-wrap input[type=number] {
	text-align: left !important;
}
.ftco-footer {
	/*height: 450px !important;*/
	font-size: 14px; background: #222831; padding: 50px 0 0 0!important;
}
.line-br{
	border-bottom: 2px solid #cfcfcf;
}
.mb-5.no-bottom{
	margin-bottom: 10px !important;
}
.owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next{
	color:#074175 !important;
}
.rate i{
	color:#074175 !important;
}
.rate > i.icon-star{
	margin:0 2px !important;
}
/* search */
.box-bg-short{
	top:150px;  z-index: 999999999999;  position:relative; text-align: center;
}
.box-bg-short span{
	font-size: 60px; font-weight:800; color:#ffffff;
}
.box-breadcumb{
	background: #dedede !important; padding: 10px 15px !important; 
}
.box-breadcumb span{
	font-size: 14px !important; font-weight: 300; 
}
.txt-pencarian{ 
	font-weight: 500 !important; font-style: italic !important;
}
.btn-cari-side{
	background-color: #ffffff !important; border-color: #074175 !important; color:#074175 !important; height: 55px !important; font-size: 17px; font-weight: 400;
}
.btn-cari-side:hover{
	background-color: #115da0 !important; border-color: #115da0 !important; color:#ffffff !important;
}
.div-link{
	position:absolute; width:100%; height:100%; top:0; left: 0; z-index: 9999;
}
.box-product{
	padding: 15px !important; border: 1px solid #ccc !important; height: 235px !important; -webkit-box-shadow:0 0 3px #ccc; -moz-box-shadow:0 0 3px #ccc; box-shadow:0 0 3px #ccc; margin-bottom: 20px !important;
}
h3.txt-product {
	margin-bottom: 0px !important;
}
h3.txt-product a{
	font-size: 24px !important; font-weight: 500; color:#074175;
}
.rate span{
	font-size: 12px; font-weight: 400;
}
.rate span > a{
	color:#074175 !important;
}
p.txt-price {
	font-size: 18px !important; font-weight: 400; margin-bottom: 0px; line-height: 1.2;
}
span.btn-detail{
	background: #8bc34a; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; border-radius: 4px; padding: 2px 10px; text-align: center;
}
.btn-detail a{
	font-size: 12px !important; color: #fff !important;
}
.box-price{
	bottom: 0px; position: absolute; text-align: right;width: 150px; margin: 0px auto; line-height: 1.4;
}
.box-price > .night{
	margin-bottom: 10px;
}
.normal-price{ 
	font-size: 12px; font-weight: 400;
}
.normal-price span.txt-diskon{
	font-weight: 700; color:#074175;
}
.normal-price span.txt-diskon-harga{
	text-decoration: line-through; letter-spacing: 2px;
} 
.diskon-price{
	font-size: 20px; letter-spacing: 1.4px; color:#074175; font-weight: 500;
}
.box-hotel{
	padding:10px 15px; height:100px; line-height:1.2;
}
.box-hotel span{ 
	font-size:14px !important;
}

/* room */

#myList.list-group.list-detail-room {
	flex-direction: row !important;
}
#myList.list-group.list-detail-room > .list-group-item.active {
	background: #074175 !important; color: #fff; border: 0px !important;
}
#myList.list-group.list-detail-room > .list-group-item.active>i {
	color: #fff;
}
#myList.list-group.list-detail-room > a.list-group-item.list-group-item-action {
	width: 210px !important; border-radius: 0px !important; margin-bottom: 15px !important;
}
#myList.list-group.list-detail-room > .icon-room-vividi i{
	font-size:14px !important;
}
.short-info-room {
	border:1px solid #ccc; padding:15px; height: 135px;
}
.txt-companies{
	font-size: 24px; font-weight: 500; color:#074175;
}
.txt-booking{
	font-size: 18px; font-weight: 400; letter-spacing: 1px; float: right;
}
.txt-booking span{
	color:#f97432;
}
.booking-tabs{
	padding-top: 25px;
}
.btn-room{
	width:100%; border-radius:0px;
}
.tab-pane-room{
	min-height: 350px; border: 1px solid #ccc;
}
.detail-pop-room{
	border-top:1px solid #ccc; margin-top:35px;
}
.modal-backdrop{
	display:none; visibility:hidden; position:relative;
}
.modal {
	background:url("../images/bg-transparent.png"); z-index:1100; 
}
.modal-centre{
	padding-top: 50px;
}
.btn-room{
	background-color: #ffffff !important; border-color: #074175 !important; color:#074175 !important; height: 35px !important; font-size: 14px; font-weight: 500;
}
.btn-room:hover{
	background-color: #115da0 !important; border-color: #115da0 !important; color:#ffffff !important;
}
.btn-detail-room{
	padding:5px 0px; border:0px;
}

/* responsive */
@media (max-width: 991px) {
	.pad-greeting {
		top: 50px;
	}
	.txt-greeting {
		font-size: 50px;
	}
	.short-greeting{
		font-size:16px; color:#fff;
	}
	span.box-icon{
		font-size: 18px;
	}
}
@media (max-width: 767px) {
	.short-greeting:nth-last-child(2){
		font-weight: 500;
	}
	span.box-icon{
		height: 40px;
		margin-bottom: 10px;
	}
}
@media (max-width: 480px) {
	.txt-greeting {
		font-size: 40px;
	}

	.short-greeting{
		font-size:14px;
		color:#fff;
		font-weight: 400;
	}
}
@media (max-width: 320px) {
	.txt-greeting {
		font-size: 30px;
	}

	.short-greeting{
		font-size:13px;
	}
}
